<div id="{{ name }}-toolbar" class="maxwell-code-toolbar">
	<div class="item">
		Mode
		<select class="ace-mode" name="mode">
			{% for key, mode in value.modes %}
				<option value="{{ key }}"{{ value.mode == key ? 'selected' : ''}}>{{ mode }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="item">
		Theme
		<select class="ace-theme" name="theme">
			<optgroup label="Light">
				{% for key, theme in value.themes.light %}
					<option value="{{ key }}"{{ value.theme == key ? 'selected' : ''}}>{{ theme }}</option>
				{% endfor %}
			</optgroup>
			<optgroup label="Dark">
				{% for key, theme in value.themes.dark %}
					<option value="{{ key }}"{{ value.theme == key ? 'selected' : ''}}>{{ theme }}</option>
				{% endfor %}
			</optgroup>
		</select>
	</div>
</div>
<div id="{{ name }}-editor" class="maxwell-code-editor">{{ value.text }}</div>
<textarea id="{{ name }}-temp" class="maxwell-code-temp maxwell-code-input"></textarea>
{% import "_includes/forms" as forms %}
{{ forms.textarea({
	id: id,
	name: name,
	value: value,
	class: 'maxwell-code-input'
}) }}
