{% import '_includes/forms' as forms %}

{% set defaultMode %}
	<select id="mode" name="mode">
		{% for key, mode in modes %}
			<option value="{{ key }}"{{ settings.mode == key ? 'selected' : ''}}>{{ mode }}</option>
		{% endfor %}
	</select>
{% endset %}

{{ forms.field({
	label: "Default Mode"|t,
	instructions: "The default language syntax to use if one isn't chosen."|t,
	id: 'mode',
}, defaultMode) }}

{% set defaultTheme %}
	<select id="theme" name="theme">
		<optgroup label="Light">
			{% for key, theme in themes.light %}
				<option value="{{ key }}"{{ settings.theme == key ? 'selected' : ''}}>{{ theme }}</option>
			{% endfor %}
		</optgroup>
		<optgroup label="Dark">
			{% for key, theme in themes.dark %}
				<option value="{{ key }}"{{ settings.theme == key ? 'selected' : ''}}>{{ theme }}</option>
			{% endfor %}
		</optgroup>
	</select>
{% endset %}

{{ forms.field({
	label: "Default Theme"|t,
	instructions: "The default theme to use if one isn't chosen."|t,
	id: 'theme',
}, defaultTheme) }}
